*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(233, 237, 238);
}

header {
  background-color: rgb(34, 47, 63);
}

header img {
  width: 70px;
  margin-left: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.menu {
  background-color: rgb(54, 71, 89);
}

li {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
  font-size: 12px;
  padding-block: 4px;
}

li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.815);
}

article {
  margin: 15px;
}

.shop {
  background-color: rgb(245, 102, 0);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  font-size: 12px;
  padding-block: 5px;
  margin-block: 20px;
}

.gift {
  background-image: url(.//assets/bg-image.png);
  object-fit: cover;
  padding-block: 55px 35px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

.gift p {
  font-family: Arial, Helvetica, sans-serif;
}

.showdown {
  background-color: rgb(255, 255, 255);

  padding-bottom: 20px;
}

.showdown p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: black;
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: left;
  font-size: 16px;
}

.showdown p span {
  margin-left: 10px;
}

.showdown p span a {
  text-decoration: none;
  color: rgb(3, 144, 156);
  font-size: 13px;
}

.img1 {
  display: inline-block;
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 20px;
  margin-inline: 18px;
  box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.151);
}

.img2 {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.img2 img {
  width: 100%;
  object-fit: contain;
  margin-top: 20px;
}

figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 10px;
}

figcaption a {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(3, 144, 156);
  text-decoration: none;
  margin-left: 8px;
  font-size: 13px;
}

.backToTop {
  background-color: rgb(54, 71, 89);
}

.backToTop p {
  padding-block: 10px;
}

.backToTop :nth-child(1) {
  color: white;
}

.img3 {
  text-align: center;
  background-color: rgb(34, 47, 63);
}

.img3 img {
  width: 100px;
  padding-block: 30px;
}
